/*@import "normalize.css/normalize";*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none; }

h1, h2, h3 {
  color: #444;
  font-family: "Oswald", sans-serif; }

h4, p, a, li {
  color: #444;
  font-family: "Open Sans", sans-serif; }

h5 {
  color: #004819;
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  letter-spacing: .75px;
  margin: 0; }

h6 {
  color: #007bc8;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  letter-spacing: .75px;
  margin: 1.25rem 0 .5rem; }

a {
  transition: all .2s linear; }

body {
  height: 100%; }

.main {
  margin: 3rem;
  padding: 1em 0 0 0; }
  .main .main-title {
    color: #007bc8;
    font-size: 2rem;
    text-align: center; }
  .main .index__title {
    text-align: center; }

/* primary styles */
.form-control {
  border-radius: 0;
  font-family: "Open Sans", sans-serif; }

/* Phoenix flash messages */
.alert:empty {
  display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline; }

@media screen and (max-width: 770px) {
  .main {
    margin: 0.5rem 0.5rem 3rem;
    padding: 0 0.2rem 0.2rem; }
    .main .main-title {
      font-size: 1.75rem; }
  .mobile-indent {
    margin-left: 3rem;
    min-height: 3rem; } }

@media only screen and (min-width: 1500px) {
  .main {
    margin: 3rem 10%; } }

.btn {
  padding: 4px 8px;
  margin-bottom: 1px; }

.btn-cz {
  border: 2px solid #004819;
  border-radius: 0;
  background-color: #fdf6e2;
  color: #004819;
  font-family: "Oswald", sans-serif; }
  .btn-cz:hover {
    color: #007bc8; }

.btn-project {
  border: 1px solid #CCC;
  border-radius: 0;
  color: #004819;
  font-family: "Oswald", sans-serif; }
  .btn-project:hover {
    color: #007bc8; }

.btn-project.btn-inactive {
  background-color: #fff;
  color: #CCC; }
  .btn-project.btn-inactive:hover {
    color: #CCC; }

.navbar {
  background-color: #fdf6e2;
  border-bottom: 2px #004819 solid;
  display: flex;
  height: 3rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }
  .navbar .navbar__link {
    color: #004819;
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem; }
    .navbar .navbar__link:hover {
      color: #007bc8; }
  .navbar .navbar__links {
    display: flex; }
    .navbar .navbar__links ul {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .navbar .navbar__links ul li {
        margin-left: 1rem; }
  .navbar .navbar__logo {
    align-items: center;
    background-color: #fff;
    border-left: 2px #004819 solid;
    border-right: 2px #004819 solid;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 1em;
    width: 3em; }

@media screen and (max-width: 770px) {
  .navbar {
    border-bottom: 0;
    border-top: 2px #004819 solid;
    bottom: 0;
    justify-content: center;
    top: initial; }
    .navbar .navbar__logo {
      display: none; }
    .navbar .navbar__links {
      width: 100%;
      padding: 0 20px; }
      .navbar .navbar__links ul {
        justify-content: space-between;
        width: 100%; }
        .navbar .navbar__links ul li {
          margin: 0; } }

/* Footer */
.footer {
  align-items: stretch;
  background-color: #fdf6e2;
  border-top: 2px #004819 solid;
  bottom: 0;
  height: 3rem;
  justify-content: center;
  position: fixed;
  width: 100%; }
  .footer .footer__icons {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center; }
    .footer .footer__icons a {
      margin: 0 10px; }
  .footer .footer__link--home {
    display: none; }

svg {
  fill: #004819;
  height: 20px; }
  svg:hover {
    fill: #007bc8; }

@media screen and (max-width: 770px) {
  .footer {
    bottom: initial;
    border-bottom: 2px #004819 solid;
    border-right: 2px #004819 solid;
    border-top: 0;
    left: 0;
    height: initial;
    top: 0;
    width: 3rem; }
    .footer .footer__icons {
      flex-direction: column; }
      .footer .footer__icons a {
        margin-top: 0.5em;
        width: initial; }
    .footer .footer__link--home {
      display: initial;
      color: #004819;
      font-family: "Oswald", sans-serif;
      font-size: 1.3rem; }
      .footer .footer__link--home:hover {
        color: #007bc8; } }

.about__content {
  align-items: center;
  border: 1px solid #ccc;
  border-top: 1px solid transparent;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  min-height: 400px;
  padding: 0 1rem;
  position: relative; }

.about .favorites {
  margin-top: 1rem; }

.about .favorite {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .about .favorite__detail {
    flex: 1;
    font-family: "Open Sans", sans-serif;
    margin-left: .5rem; }
  .about .favorite__icon {
    width: 30px; }
    .about .favorite__icon img {
      height: auto;
      width: 100%; }
  .about .favorite__info {
    display: flex;
    flex-direction: row; }
  .about .favorite__title {
    color: #007bc8;
    font-family: "Oswald", sans-serif;
    margin-bottom: .5rem;
    text-transform: uppercase; }

.about .map-wrapper {
  position: absolute;
  height: 90%;
  left: 5%;
  width: 90%; }

.about #map-goes-here {
  border: 1px solid #004819;
  height: 80%;
  position: absolute;
  width: 100%; }

.about__topics {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.about .topic {
  align-items: center;
  border-bottom: 1px solid #ccc;
  color: #004819;
  display: flex;
  flex: 1 1 50%;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  text-transform: uppercase; }
  .about .topic:hover {
    background-color: #fafafa;
    color: #007bc8; }
  .about .topic--active {
    background-color: #fdf6e2;
    border: 1px solid #ccc;
    border-bottom: 1px solid transparent; }
    .about .topic--active:hover {
      background-color: #fdf6e2;
      color: #004819; }

@media screen and (max-width: 770px) {
  .about__content {
    margin-bottom: 2rem; }
  .about .favorite__detail {
    font-size: .8rem; }
  .about .main-title {
    margin: 2rem; }
  .about__topics {
    height: 2rem; }
  .about .topic {
    font-size: .8rem; } }

code {
  background-color: #fdf6e2;
  color: #004819; }

.bunch-of-code {
  position: absolute;
  top: 65px;
  left: 15px;
  opacity: 0.06;
  overflow: hidden; }

.blog-title {
  color: #007bc8;
  font-size: 1.5rem;
  margin: 20px 0 10px;
  text-align: center; }

.blog-date {
  text-align: center;
  font-size: 1em;
  color: #666; }

textarea.big-form {
  height: 200px; }

.blog-content {
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 2rem; }
  .blog-content h3 {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .blog-content a {
    color: #004819;
    font-family: oswald;
    font-size: 0.85rem;
    text-transform: uppercase; }
    .blog-content a:hover {
      color: #007bc8; }
  .blog-content p {
    line-height: 1.35; }

.blog-content pre {
  margin: 5px 25px; }

.blog-index {
  text-align: center;
  list-style-type: none;
  padding-bottom: 10px; }
  .blog-index li {
    margin-bottom: 1.5rem; }
  .blog-index .blog-index__title {
    display: block; }
  .blog-index .blog-index__metadata {
    display: flex;
    flex-direction: row; }
  .blog-index .blog-index__date {
    color: #888;
    font-size: 0.75em; }
  .blog-index li a {
    color: #004819;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem; }
    .blog-index li a:hover {
      text-decoration: none;
      color: #007bc8; }

.blog-tags {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px; }

.blog-tags--horizontal {
  display: flex;
  justify-content: center; }
  .blog-tags--horizontal .tag {
    font-size: 0.6em;
    padding: 2px 7px; }

.tag {
  align-items: center;
  background-color: #004819;
  border: 1px solid #CCC;
  color: #fff;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  margin: 0 5px;
  padding: 3px 8px; }
  .tag.ruby {
    background-color: #b31301; }
  .tag.elixir {
    background-color: #584364; }
  .tag.phoenix {
    background-color: #f46f37; }
  .tag.javascript {
    background-color: #f0da50; }
  .tag.go {
    background-color: #6ed7e1; }

@media screen and (max-width: 770px) {
  code {
    font-size: 0.8rem; } }

form textarea {
  width: 700px; }

.dev-project {
  border: 1px #CCC solid;
  padding: 0;
  margin: 5px 15px 20px 15px; }
  .dev-project .embed-responsive {
    margin: 5px 5%; }
  .dev-project iframe {
    margin-bottom: 5px; }
  .dev-project:last-of-type {
    margin-bottom: 4rem; }

.dev-project-img {
  margin-bottom: 10px; }
  .dev-project-img img {
    width: 100%; }

.dev-project-title {
  color: #004819;
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  margin: 0; }

.dev-project-date {
  color: #888;
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
  margin-left: 5px; }

.dev-project-header {
  background-color: #fdf6e2;
  border-bottom: 1px #CCC solid;
  padding: 3px 10px; }

.dev-project-description {
  padding: 0 8px 12px;
  font-size: 0.9em; }

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em; }
  .tech-stack span {
    background-color: #fdf6e2;
    border: 1px solid #CCC;
    color: #007bc8;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px; }

@media screen and (max-width: 770px) {
  .dev-project:last-of-type {
    margin-bottom: 1rem; } }

.resume__wrapper {
  display: flex;
  justify-content: center; }

.resume__main {
  max-width: 45rem; }

.resume__name {
  color: #007bc8;
  font-size: 2rem;
  margin-bottom: .75rem;
  text-align: center; }

.resume__title {
  color: #004819;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center; }

.sub-heading {
  color: #444;
  font: 800 0.8rem "Open Sans", sans-serif;
  margin: 0; }

.center {
  text-align: center; }

.mb-lg {
  margin-bottom: 5rem; }

/*
Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496; }

.hljs-comment,
.hljs-quote {
  color: #586e75; }

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900; }

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198; }

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2; }

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900; }

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16; }

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f; }

.hljs-formula {
  background: #073642; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

