<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%# <link href='https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro|Oswald' rel='stylesheet' type='text/css'> %>
    <title>Adam Czerepinski</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav role="navigation" class="navbar navbar-default navbar-static-top" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" id="logo">CZ</a>
          <ul class="nav navbar-nav">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">DEV</a></li>
            <li><a href="#">MUSIC</a></li>
            <li><a href="#">BLOG</a></li>
          </ul>
        </div> <!-- /navbar-header -->
      </div> <!-- /container --> 
    </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
