$forest: #004819;
$cream: #fdf6e2;
$blue: #007bc8;
$grey: #444;

$primaryFont: 'Open Sans', sans-serif;
$headerFont: 'Oswald', sans-serif;
$codeFont: 'Source Code Pro';

$borderWidth: 2px;
$headerHeight: 3rem;
$mobile: 770px;
$hugeDesktop: 1500px;