ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  color: #444;
  font-family: $headerFont;
}

h4, p, a, li {
  color: #444;
  font-family: $primaryFont;
}

h5 {
  color: $forest;
  font-family: $headerFont;
  font-size: 1.25rem;
  letter-spacing: .75px;
  margin: 0;
}

h6 {
  color: $blue;
  font-family: $headerFont;
  font-size: 1rem;
  letter-spacing: .75px;
  margin: 1.25rem 0 .5rem;
}

a {
  transition: all .2s linear;
}