

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro|Oswald);

/* primary styles */
$forest: #004819;
$cream: #fdf6e2;
$blue: #007bc8;
$grey: #444;

$primaryFont: 'Open Sans', sans-serif;
$headerFont: 'Oswald', sans-serif;
$codeFont: Source Code Pro;

$borderWidth: 2px;

h1, h2, h3 {
  font-family: $headerFont;
}

h4, p, a, li {
  font-family: $primaryFont;
}

.btn-cz {
  border: $borderWidth solid $forest;
  border-radius: 0;
  background-color: $cream;
  color: $forest;
  font-family: $headerFont;
  &:hover {
    color: $blue;
  }
}

.btn-project {
  border: 1px solid #CCC;
  border-radius: 0;
  /*background-color: $cream;*/
  color: $forest;
  font-family: $headerFont;
  &:hover {
    color: $blue;
  }
}



.form-control {
  border-radius: 0;
  font-family: $primaryFont;
}

/* Navbar */
#navbar {
  background-color: $cream;
  border-bottom: $borderWidth $forest solid;
  margin: 0;
}

#navbar ul {
  padding-left: 15px;
}

#navbar a {
  font-family: $headerFont;
  font-size: 1.5em;
  color: $forest;
  &:hover {
    color: $blue;
  }
}

#logo {
  border-left: $borderWidth $forest solid;
  border-right: $borderWidth $forest solid;
  background-color: #fff;
  &:hover {
    background-color: #fff;
  }
}

/* disable navbar collapse
http://stackoverflow.com/questions/23535289/bootstrap-3-disable-navbar-collapse
*/ 
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0;
    padding-top: 5px;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  background-color: $cream;
  height: 55px;
  width: 100%;
  border-top: $borderWidth $forest solid;
}

.svg-icon {
   margin: 0 10px;
}

svg {
  fill: $forest;
  height: 20px;
  &:hover {
    fill: $blue;
  }
}


/* Main Page Layout */
html, body {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 55px 30px;
  overflow: scroll;
}

main h1, main h3 {
  color: $grey;
}

main h2 {
  color: $forest;
}

main h3 {
  font-size: 2em;
}

main p, main li {
  color: $grey;
  font-size: 1.2em;
}

main a {
  color: $forest;
  &:hover {
    color: $blue;
  }
}

main pre {
  padding: 0;
  border-radius: 0;
}

.flex-container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.flex-row {
   color: $grey;
   text-align: center;
}

/* Page specific */

.bunch-of-code {
  position: absolute;
  top: 65px;
  left: 15px;
  opacity: 0.06;
  overflow: hidden;
}

.blog-title, .main-title {
  text-align: center;
  color: $blue;
}

.blog-date {
  text-align: center;
  font-size: 1em;
  color: #666;
}

textarea.big-form {
  height: 200px;
}

.blog-content {
  h3 {
    text-transform: uppercase;
  }
}

.blog-tags {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.blog-tags--horizontal {
  display: flex;
  .tag {
    font-size: 0.6em;
    padding: 2px 7px;
  }
}

.tag {
  align-items: center;
  background-color: $forest;
  border: 1px solid #CCC;
  color: #fff;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  margin: 0 5px;
  padding: 3px 8px;

  &.ruby {
    background-color: #b31301;
  }

  &.elixir {
    background-color: #584364;
  }

  &.phoenix {
    background-color: #f46f37;
  }

  &.javascript {
    background-color: #f0da50;
  }
}





.blog-content pre {
  margin: 5px 25px;
}

.blog-index {
  padding: 0;
  text-align: center;
  list-style-type: none;
  li {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  li a {
    font-family: $headerFont;
    margin-left: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

.blog-index-date {
  color: #888;
  font-size: 0.75em;
}

.dev-project {
  border: 1px #CCC solid;
  padding: 0;
  margin: 5px 15px 20px 15px;
  .embed-responsive {
    margin: 5px 5%;
  }
}

.dev-project-title {
  color: $forest;
  font-family: $headerFont;
  font-size: 1.3em;
  margin: 0;
}

.dev-project-date {
  color: #888;
  font-size: 0.8em;
  font-family: $headerFont;
  margin-left: 5px;
}

.dev-project-header {
  background-color: $cream;
  border-bottom: 1px #CCC solid;
  padding: 3px 10px;
}

.dev-project-description {
  padding: 8px;
  font-size: 0.9em;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

@media screen and (max-width: 450px) {
  #navbar a {
    font-size: 1em;
  }

  footer {
    height: 30px;
  }

  svg {
    height: 15px;
  }

}
