<h3 class="blog-title"><%= String.upcase(@post.title) %></h3>
<p class="blog-date">Published <%= Ecto.DateTime.to_date(@post.date) %></p>
<div class="blog-content">
<%= AdamczDotCom.BlogView.markdown(@post.content) %>
 
</div>







<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>