<h2 class="main-title">DEV PROJECTS</h2>
<p>Here are some of the personal/side projects I've enjoyed working on:</p>



<!-- ADAMCZ.COM -->
<div class="dev-project">
  <div class="dev-project-header">
    <span class="dev-project-title">THIS WEBSITE!</span>
    <span class="dev-project-date">JANUARY 2016</span>
  </div>
  <div class="dev-project-description">
    <p>
     This website - meaning adamcz.com, the site you are currently looking at - is an Elixir/Phoenix application. I built it to give myself a nice, bloat-free blogging platform, and to get my feet wet with the Elixir programming language.
    </p>
    <a href="https://github.com/aczerepinski/adamcz_dot_com" class="btn btn-project" role="button" target="_blank">VIEW THE CODE</a>
  </div>
</div>


<!-- JAZZ ROBOT -->
<div class="dev-project">
  <div class="dev-project-header">
    <span class="dev-project-title">JAZZ ROBOT</span>
    <span class="dev-project-date">JULY 2015</span>
  </div>
  <div class="dev-project-description">
    <p>
     Jazz Robot is a Ruby/Rails app that facilitates learning to play songs in all 12 musical keys. The app offers a collection of songs that can be filtered by difficulty or composer, and transposed into any desired key (or into raw functional analysis). It also includes a client-side educational game that accesses a game data API, storing questions and correct answers in private variables. I blogged about the song index's filtering UI <%= link "here", to: blog_path(@conn, :index) %>. 
    </p>
    <a href="https://jazzrobot.herokuapp.com/" class="btn btn-project" role="button" target="_blank">VISIT THE SITE</a>
    <a href="https://github.com/aczerepinski/jazz_robot" class="btn btn-project" role="button" target="_blank">VIEW THE CODE</a>
  </div>
</div>